<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Services</th>
        <th scope="col">Status</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      <%= render "redis/tr" %>
      <%= render "unicorn/tr" %>
    </tbody>
  </table>
</div>

